<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>tftAa6kqexzv7xlGDa5SLJX3pcUsZbKC1z7EMGOCe1SfxVGl9JRMzf4rhzDkJGXKLSIwIWelUjj3WMOuOgbrUomOzUqF2KJc3NO0zeUoVSrAZAmornJggo6IcPCcxuPfyM92yrdZK2oPOnl1aj4wfff479UM88hLBZ7tv/u+QalwQWcooORrBeZ7VNhXEzXLL41LkNL6Py8HxpQOu/uETu7BBF4gHCbDCZbVRWhdJ7+AZlZtlwc7ZPQMaYZTjxZoHQpdfqvyxN6/JlodJSvFCawCAKXDxEcTL5+OF1wERQrG6BscoHatRf7uNT32WGsdcsUgxit+7wodg19VpFqohA==</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>SJx3rZsmNIN/n302mHQ3rJldgQvhNj1JryGsdhdR1KR5HhA6sR3/6Rrh6hmdypEEQEHGYKsH1JcrYWL1dNVSCV0Pt6YIGusgeJu8pi4D0AVbDLFGzC6TRvHRFzGo7BMW</CipherValue>
   </CipherData>
  </EncryptedData>
 </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
